@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 10rem 1fr;
  font-size: 2.4rem;
}

nav {
  border-right: 2px solid #485fc7;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 3.5rem;
  font-weight: bold;
  font-size: 1.6rem;
}

ion-icon {
  cursor: pointer;
  color: #333;
}

ion-icon:hover {
  color: #485fc7;
  transition: all 0.3s ease-out;
}

menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.text-container {
  width: 40%;
}

p {
  background-color: #f2f4f8;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 6px;
}

main {
  background-color: #fff;
}

.boards {
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 12rem;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}

.player-board {
  margin-left: 12rem;
}

.enemy-board {
  margin-right: 12rem;
  position: relative;
}

.cell {
  width: 3rem;
  height: 3rem;
  padding: 5px 10px;
}

.facility {
  align-self: flex-start;
  margin: 3rem 0 0 10rem;
}

.ship div {
  width: 3rem;
  height: 3rem;
}
.ship {
  background-color: whitesmoke;
  position: absolute;
  top: -0.5rem;
  left: -0.6rem;
  border: 2px solid #00f;
  background-color: rgba(0, 0, 255, 0.05);
  display: flex;
  margin: 5px;
  border: 2px solid #00f;
  cursor: move;
  z-index: 2;
  gap: 1.5px;
}

.patrol-container {
  width: 6.4rem;
  height: 3rem;
}

.submarine-container {
  width: 9.4rem;
  height: 3rem;
}

.destroyer-container {
  width: 9.4rem;
  height: 3rem;
}

.battleship-container {
  width: 12.6rem;
  height: 3rem;
}

.carrier-container {
  width: 15.6rem;
  height: 3rem;
}

table,
th,
td {
  border-collapse: separate;
  border-spacing: 1px;
  border-width: thin;
  position: relative;
}
table {
  background: #b4b4ff;
}
tr {
  background: #fff;
}

.label {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

.marker__row {
  left: -3rem;
  width: 2rem;
  text-align: right;
  top: 1rem;
  height: 1rem;
  color: #333;
}

.marker__col {
  top: -2rem;
  left: 1.3rem;
  width: 100%;
}

.marker {
  position: absolute;
  font-size: 11px;
}

.play {
  position: absolute;
  top: 31%;
  left: 10%;
  border: 1px solid #d6d6d6;
  background: #d5efd6;
  background: linear-gradient(
    to bottom,
    rgba(225, 250, 225, 1) 0,
    rgba(195, 222, 197, 1) 100%
  );
  margin: 1em 0 0;
  padding: 0.2em 0.8em;
  font-size: 2rem;
  box-shadow: 0 2px 6px rgb(0 0 0 / 25%);
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

.active {
  opacity: 0.4;
}

.hit {
  display: flex;
  position: relative;
  height: 30px;
  width: 30px;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hit::before,
.hit::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: red;
}

.hit::before {
  transform: rotate(45deg);
}

.hit::after {
  transform: rotate(-45deg);
}

.attack {
  display: flex;
  position: relative;
  height: 30px;
  width: 30px;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f8 !important;
}

.attack::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #333;
}

button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #0034ab;
  cursor: pointer;
  display: inline-flex;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:active {
  border-color: #4a4a4a;
  outline: 0;
}

button:focus {
  border-color: #485fc7;
  outline: 0;
}

button:hover {
  border-color: #b5b5b5;
  color: rgba(12, 97, 9, 0.938);
  transition: all 0.3s ease-out;
}
